{{- if and (eq .Values.kind "statefulset") .Values.headlessService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "metrics-governor.headlessServiceName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "metrics-governor.labels" . | nindent 4 }}
  {{- with .Values.headlessService.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: grpc
      port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
    - name: http
      port: {{ .Values.service.httpPort }}
      targetPort: http
      protocol: TCP
    - name: stats
      port: {{ .Values.service.statsPort }}
      targetPort: stats
      protocol: TCP
  selector:
    {{- include "metrics-governor.selectorLabels" . | nindent 4 }}
{{- end }}
